main

  section#slide-1.homeSlide
  
    nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(
      role="navigation"
      style="background-color:black); border:0px",
      data-0="opacity:.4;",
      data-top="opacity:1;",
      data-anchor-target="#slide-2 h1"
      )
    
      div.container(
        style="text-align:center; width:425px"
        )
        ul.nav.navbar-nav
          li.active
            a(
              ng-click="scrollToSlide(1)"
              ) Home
          li
            a(
              ng-click="scrollToSlide(2)"
              ) Info
          li
            a(
              ng-click="scrollToSlide(3)"
              ) Directions
          li
            a(
              ng-click="scrollToSlide(4)"
              ) Schedule
          li
            a(
              ng-click="scrollToSlide(5)"
              ) Sponsors
            
    div(
      style="position:absolute; z-index:3; margin-top:0px; height:100%;"
      )
      
      div.hsContainer(
        data-0="opacity:.8;",
        data-top="opacity:0;",
        data-anchor-target="#slide-2",
        style="height:100%; position:relative"
        )
      
        div.hsContent(
          style="height:100%;"
          )
        
          br
          br
        
          div.text-center(
            style="margin: 0 auto;text-align: center;"
            )
            span#count-down-clock.center-block(
              style="display:inline-block; text-align: center; width:620px;"
              )
        
          h1(
            style="font-size:80px; letter-spacing:-10px;"
            ) &lt;TUHacks/&gt;
          img(
          	src="images/tulogo.png"
            style="height:300px; height:30vh;"
            )
          h2 Fall 2014
          
          br 
          
          button(
            style="position:relative;margin-top:0px; border: 0px; background-color:rgba(20,20,20,.5); padding:10px; font-size:20px; font-weight:bold;"
            ) REGISTER
            
    div.bcg(
      data-center="background-position: 50% 0px;",
      data-50-top="opacity: .7",
      data-top-bottom="opacity: 1; background-position: 50% -100px;",
      data-anchor-target="#slide-1",
      style="position:absolute; z-index:2;"
      )
  
    div.bcg.bcg-fade-out(
      data-center="background-position: 50% 0px;", 
      data-top-bottom="background-position: 50% -100px;", 
      data-anchor-target="#slide-1"
      )
      
  section#slide-2
    
    div.bcg(
      data-0="background-color:rgb(158,27,52);",
      data-top="background-color:rgb(93, 15, 30);",
      data-anchor-target="#slide-2"
      )
      
      div.hsContainer
        
        div.hsContent
          
          br
          br
          br
          
          span(
            style="font-size:50px;"
          ) TEMPLE UNIVERSITY HACKATHON
        
          div.row
            div.col-md-6
              span.pull-right 
               h1 
                b 24
            div.col-md-6
              span.pull-left 
               h1 HOURS
          div.row     
            div.col-md-6
              span.pull-right 
               h1 
                b 500
            div.col-md-6
              span.pull-left 
               h1 HACKERS
          div.row     
            div.col-md-6
              span.pull-right 
               h1 
                b $1500
            div.col-md-6
              span.pull-left 
               h1 IN PRIZES
               
          br
          br
          br
          
          h2(
            data--200-bottom="opacity: 0"
            data-center="opacity: 1"
            data-206-top="opacity: 1"
            data-106-top="opacity: 0"
            data-anchor-target="#slide-2 h2"
            )
  section#slide-3
    div.bcg
      div.container.info
        br
        br
        h1 What is TUHacks?
        p TUHacks is 24 hours of inspired, creative, and insanity-fueled learning and creation where you work in teams of 1-4 people to take a crazy idea and turn it into a super real piece of software (or hardware, if you’re into that). Basically, it’s really fun. All the cool kids are doing it. [rephrase]
        div.row
          div.col-xs-6.col-md-4
            h2 Hummina Waa?
            p TUHacks is 24 hours of inspired, creative, and insanity-fueled learning and creation where you work in teams of 1-4 people to take a crazy idea and turn it into a super real piece of software (or hardware, if you’re into that). Basically, it’s really fun. All the cool kids are doing it. [rephrase]
          div.col-xs-6.col-md-4
            h2 Hummina Waa?
            p TUHacks is 24 hours of inspired, creative, and insanity-fueled learning and creation where you work in teams of 1-4 people to take a crazy idea and turn it into a super real piece of software (or hardware, if you’re into that). Basically, it’s really fun. All the cool kids are doing it. [rephrase]
          div.col-xs-6.col-md-4
            h2 Hummina Waa?
            p TUHacks is 24 hours of inspired, creative, and insanity-fueled learning and creation where you work in teams of 1-4 people to take a crazy idea and turn it into a super real piece of software (or hardware, if you’re into that). Basically, it’s really fun. All the cool kids are doing it. [rephrase]
        div.row
          div.col-xs-6.col-md-4
            h2 Hummina Waa?
            p TUHacks is 24 hours of inspired, creative, and insanity-fueled learning and creation where you work in teams of 1-4 people to take a crazy idea and turn it into a super real piece of software (or hardware, if you’re into that). Basically, it’s really fun. All the cool kids are doing it. [rephrase]
          div.col-xs-6.col-md-4
            h2 Hummina Waa?
            p TUHacks is 24 hours of inspired, creative, and insanity-fueled learning and creation where you work in teams of 1-4 people to take a crazy idea and turn it into a super real piece of software (or hardware, if you’re into that). Basically, it’s really fun. All the cool kids are doing it. [rephrase]
          div.col-xs-6.col-md-4
            h2 Hummina Waa?
            p TUHacks is 24 hours of inspired, creative, and insanity-fueled learning and creation where you work in teams of 1-4 people to take a crazy idea and turn it into a super real piece of software (or hardware, if you’re into that). Basically, it’s really fun. All the cool kids are doing it. [rephrase]
        br
        br 
        br        
  section#slide-4

    div.bcg(
      data-0="background-color:rgb(158,27,52);",
      data-top="background-color:rgb(93, 15, 30);",
      data-anchor-target="#slide-4"
      )
      
      div.hsContainer
        
        div.hsContent
          
          br
          br
          br
          
          span(
            style="font-size:50px;"
          ) TEMPLE UNIVERSITY HACKATHON
          
          br
          br
          br

  section#slide-5
    div.bcg
      div.hsContainer
        div#map-canvas

  section#slide-6
    
    div.bcg(
      data-0="background-color:rgb(158,27,52);",
      data-top="background-color:rgb(93, 15, 30);",
      data-anchor-target="#slide-6"
      )
      
      div.hsContainer
        
        div.hsContent
          
          br
          br
          br
          
          span(
            style="font-size:50px;"
          ) TEMPLE UNIVERSITY HACKATHON
          
          br
          br
          br  