main

  section#slide-1.homeSlide
  
    nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(
      role="navigation"
      style="background-color:black); border:0px",
      data-center="opacity: .5",
      data-200-top="opacity: .6",
      data-0-top="opacity: 1",
      data-anchor-target="#slide-1 h1"
      )
    
      div(
        style="text-align:center"
        )
        ul.nav.navbar-nav
          li.active
            a Home
          li
            a Info
          li
            a Directions
          li
            a Schedule
          li
            a Sponsors
            
    div(
      style="position:absolute; z-index:3; margin-top:50px;"
      )
      
      div.hsContainer(
        data-0="opacity:.8;",
        data-top="opacity:0;",
        data-anchor-target="#slide-2",
        )
      
        div.hsContent
        
          br
          br
        
          div.text-center(
            style="margin: 0 auto;text-align: center;"
            )
            span#count-down-clock.center-block(
              style="display:inline-block; text-align: center; width:620px;"
              )
        
          h1(
            style="font-size:80px; letter-spacing:-10px;"
            ) &lt;TUHacks/&gt;
          img(
          	src="images/tulogo.png"
            style="height:300px; height:30vh;"
            )
          h2 Fall 2014
          
          br 
          
          button Register
            
    div.bcg(
      data-center="background-position: 50% 0px;",
      data-50-top="opacity: .7",
      data-top-bottom="opacity: 1; background-position: 50% -100px;",
      data-anchor-target="#slide-1",
      style="position:absolute; z-index:2;"
      )
  
    div.bcg.bcg-fade-out(
      data-center="background-position: 50% 0px;", 
      data-top-bottom="background-position: 50% -100px;", 
      data-anchor-target="#slide-1"
      )
      
  section#slide-2
    
    div.bcg(
      data-0="background-color:rgb(158,27,52);",
      data-top="background-color:rgb(74, 12, 24);",
      data-anchor-target="#slide-2"
      )
      
      div.hsContainer
        
        div.hsContent
          
          br
        
          span(
            style="font-size:50px;"
          ) TEMPLE UNIVERSITY HACKATHON
        
          div.row
            div.col-md-6
              span.pull-right 
               h1 
                b 24
            div.col-md-6
              span.pull-left 
               h1 HOURS
            div.col-md-6
              span.pull-right 
               h1 
                b 500
            div.col-md-6
              span.pull-left 
               h1 HACKERS
            div.col-md-6
              span.pull-right 
               h1 
                b $1500
            div.col-md-6
              span.pull-left 
               h1 IN PRIZES
          h2(
            data--200-bottom="opacity: 0"
            data-center="opacity: 1"
            data-206-top="opacity: 1"
            data-106-top="opacity: 0"
            data-anchor-target="#slide-2 h2"
            )