main

  section#slide-1.homeSlide
  
    nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(
      role="navigation"
      style="background-color:black); border:0px",
      data-0="opacity:.4;",
      data-top="opacity:1;",
      data-anchor-target="#slide-2 h1"
      )
    
      div.container-fluid(
        style="text-align:center; width:425px"
        )
        div.navbar-header
          button(
            type="button",
            class="navbar-toggle",
            data-toggle="collapse",
            data-target="#navbar-collapse"
            )
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        div.collapse.navbar-collapse#navbar-collapse 
          ul.nav.navbar-nav
            li.active
              a(
                ng-click="scrollToSlide(1)"
                ) Home
            li
              a(
                ng-click="scrollToSlide(2)"
                ) Info
            li
              a(
                ng-click="scrollToSlide(5)"
                ) Directions
            li
              a(
                ng-click="scrollToSlide(4)"
                ) Schedule
            li
              a(
                ng-click="scrollToSlide(7)"
                ) Sponsors
            
    div(
      style="position:absolute; z-index:3; margin-top:0px; height:100%;"
      )
      
      div.hsContainer(
        data-0="opacity:.8;",
        data-top="opacity:0;",
        data-anchor-target="#slide-2",
        style="height:100%; position:relative"
        )
      
        div.hsContent(
          style="height:100%;"
          )
        
          br
          br
        
          div.text-center(
            style="margin: 0 auto;text-align: center;"
            )
            span#count-down-clock.center-block.hidden-sm.hidden-xs(
              style="display:inline-block; text-align: center; width:620px;"
              )
        
          h1(
            style="font-size:80px; letter-spacing:-5px;"
            ) &lt;TUHacks/&gt;
          img(
          	src="images/tulogo.png"
            style="height:30%;"
            )
          h2 Fall 2014
          
          br 
          
          button(
            style="position:relative;margin-top:0px; border: 0px; background-color:rgba(20,20,20,.5); padding:10px; font-size:20px; font-weight:bold;"
            ng-click="scrollToSlide(6, 2000)"
            ) REGISTER
            
    div.bcg(
      data-center="background-position: 50% 0px;",
      data-50-top="opacity: .7",
      data-top-bottom="opacity: 1; background-position: 50% -100px;",
      data-anchor-target="#slide-1",
      style="position:absolute; z-index:2;"
      )
  
    div.bcg.bcg-fade-out(
      data-center="background-position: 50% 0px;", 
      data-top-bottom="background-position: 50% -100px;", 
      data-anchor-target="#slide-1"
      )
      
  section#slide-2
    
    div.bcg(
      data-0="background-color:rgb(158,27,52);",
      data-top="background-color:rgb(93, 15, 30);",
      data-anchor-target="#slide-2"
      )
      
      div.hsContainer
        
        div.hsContent
          
          br
          br
          br
          
          span(
            style="font-size:50px;"
          ) TEMPLE UNIVERSITY HACKATHON
        
          div.row
            div.col-md-6
              span.pull-right 
               h1 
                b 24
            div.col-md-6
              span.pull-left 
               h1 HOURS
          div.row     
            div.col-md-6
              span.pull-right 
               h1 
                b 500
            div.col-md-6
              span.pull-left 
               h1 HACKERS
          div.row     
            div.col-md-6
              span.pull-right 
               h1 
                b $1500
            div.col-md-6
              span.pull-left 
               h1 IN PRIZES
               
          br
          br
          br
          
          h2(
            data--200-bottom="opacity: 0"
            data-center="opacity: 1"
            data-206-top="opacity: 1"
            data-106-top="opacity: 0"
            data-anchor-target="#slide-2 h2"
            )
  section#slide-3
    div.bcg
      div.container.info
        br
        br
        h1 What is TUHacks?
        p TUHacks is 24 hours of inspired, creative, and insanity-fueled learning and creation where you work in teams of 1-4 people to take a crazy idea and turn it into a super real piece of software (or hardware, if you’re into that). Basically, it’s really fun. All the cool kids are doing it. [rephrase]
        div.row
          div.col-xs-6.col-md-4
            h2 What should I bring?
            p TUHacks is 24 hours of inspired, creative, and insanity-fueled learning and creation where you work in teams of 1-4 people to take a crazy idea and turn it into a super real piece of software (or hardware, if you’re into that). Basically, it’s really fun. All the cool kids are doing it. [rephrase]
          div.col-xs-6.col-md-4
            h2 How much experience do I need?
            p TUHacks is 24 hours of inspired, creative, and insanity-fueled learning and creation where you work in teams of 1-4 people to take a crazy idea and turn it into a super real piece of software (or hardware, if you’re into that). Basically, it’s really fun. All the cool kids are doing it. [rephrase]
          div.col-xs-6.col-md-4
            h2 Do I need a team?
            p TUHacks is 24 hours of inspired, creative, and insanity-fueled learning and creation where you work in teams of 1-4 people to take a crazy idea and turn it into a super real piece of software (or hardware, if you’re into that). Basically, it’s really fun. All the cool kids are doing it. [rephrase]
        div.row
          div.col-xs-6.col-md-4
            h2 Do I need to be a Temple University student?
            p TUHacks is 24 hours of inspired, creative, and insanity-fueled learning and creation where you work in teams of 1-4 people to take a crazy idea and turn it into a super real piece of software (or hardware, if you’re into that). Basically, it’s really fun. All the cool kids are doing it. [rephrase]
          div.col-xs-6.col-md-4
            h2 Hummina Waa?
            p TUHacks is 24 hours of inspired, creative, and insanity-fueled learning and creation where you work in teams of 1-4 people to take a crazy idea and turn it into a super real piece of software (or hardware, if you’re into that). Basically, it’s really fun. All the cool kids are doing it. [rephrase]
          div.col-xs-6.col-md-4
            h2 Hummina Waa?
            p TUHacks is 24 hours of inspired, creative, and insanity-fueled learning and creation where you work in teams of 1-4 people to take a crazy idea and turn it into a super real piece of software (or hardware, if you’re into that). Basically, it’s really fun. All the cool kids are doing it. [rephrase]
        br
        br 
        br        
  section#slide-4

    div.bcg(
      data-0="background-color:rgb(158,27,52);",
      data-top="background-color:rgb(93, 15, 30);",
      data-anchor-target="#slide-4"
      )
      
      div.hsContainer
        
        div.hsContent
          
          br
          br
          br
          
          span(
            style="font-size:50px;"
          ) An Incredible Learning and Networking experience
          
          br
          br
          br

  section#slide-5
    div.bcg
      div.hsContainer
        div#map-canvas(
			data-0="background-color:rgb(255,255,255);",
			data-300-top="background-color:rgb(255,255,255);",
			data-anchor-target="#slide-5"
		  )

  section#slide-6
    
    div.bcg(
      data-0="background-color:rgb(158,27,52);",
      data-top="background-color:rgb(93, 15, 30);",
      data-anchor-target="#slide-6"
      )
      
      div.hsContainer
        
        div.hsContent
          
          br
          br
          br
          div
            span#registerMessage1(
              style="font-size:50px;"
              ng-show="formSubmitted==false"
            ) Register for TUHacks!
            span#registerMessage2(
              style="font-size:50px;"
              ng-show="formSubmitted==true"
            ) Thank you for registering for TUHacks!
              h3 Your registration will now be processed
            form#register(
              style="width:30%; margin: auto;"
              name="form"
              novalidate="true"
              )
              br
              h4.text-danger(
                ng-show="registrationError"
              ) Form could not be submitted!
              br
              div.form-group.right-inner-addon(
                 ng-class="{ 'has-error': (form.fullName.$error.required && registrationError) }"
                )
                input.form-control(
                  type="text"
                  placeholder="Enter Full Name",
                  name="fullName"
                  ng-model="registration.fullName"
                  required="true"
                  )
                span.glyphicon.glyphicon-ok.form-control-feedback(
                  ng-show="!form.fullName.$error.required"
                  )
                span.glyphicon.glyphicon-remove.form-control-feedback(
                  ng-show="(form.fullName.$error.required && registrationError)"
                  )
              div.form-group.right-inner-addon(
                 ng-class="{ 'has-error': (form.email.$error.required || form.email.$error.email) && registrationError }"
                )
                input.form-control(
                  type="email"
                  placeholder="Enter Email",
                  name="email",
                  ng-model="registration.email"
                  email,
                  required
                  )
                span.glyphicon.glyphicon-ok.form-control-feedback(
                  ng-show="!form.email.$error.required && !form.email.$error.email"
                  )
                span.glyphicon.glyphicon-remove.form-control-feedback(
                  ng-show="(form.email.$error.required || form.email.$error.email) && registrationError"
                  )
              div.form-group.right-inner-addon(
                 ng-class="{ 'has-error': (form.university.$error.required && registrationError) }"
                )
                input.form-control(
                  type="text"
                  placeholder="Enter University",
                  ng-model="registration.university"
                  name="university",
                  required
                  )
                span.glyphicon.glyphicon-ok.form-control-feedback(
                  ng-show="!form.university.$error.required"
                  )
                span.glyphicon.glyphicon-remove.form-control-feedback(
                  ng-show="(form.university.$error.required && registrationError)"
                  )
              div.form-group
                button(
                  type="submit",
                  class="btn btn-warning",
                  ng-click="validateForm()"
                ) Submit
          br
          br
          br
  section#slide-7
    div.container
      br
      br
      br
      h1(
        style="text-align:center;"
        ) Proudly Sponsored By
      p mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images! mad sponsors images!
      br
      br
      h5 ALL RIGHTS RESERVED, TUHACKS
      h6 DESIGNED & BUILT BY 
        a(
          ng-href="http://yawasabere.com"
          ) YAW ASABERE
      br
      br
      br